<div class="container">
    <div>
    <h2>Ajouter un vetement :</h2>
    </div>
    <form >
        <div class="col-sm-2 col-md-2 col-lg-2">
        <label >ID vetement</label>
        <input type="text" [(ngModel)]="newVetement.idVetement"
        name="idVetement" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4" >
        <label >Nom Vetement</label>
        <input type="text"[(ngModel)]= "newVetement.nomVetement"
        name="nomVetement" class="form-control">
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2">
        <label >Prix Vetement</label>
        <input type="number" [(ngModel)]= "newVetement.prixVetement"
        name="prixVetement" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
        <label >Date création</label>
        <input type="date" [(ngModel)]= "newVetement.dateCreation"
        name="dateCreation" class="form-control">
        </div>
        <div class="mt-2">
        <button type="submit" (click)="addVetement()" class="btn btnsuccess">Ajouter</button>
        </div>
        </form>
        </div>