<div class="container">
    <div class="card shadow mb-4">
    <div class="card-body">
    <table class="table table-striped">
    <tr> <th>Id</th><th>Nom</th> <th>Prix</th> <th>Date Création</th> </tr>
    <tbody *ngFor="let vetement of vetements">
    <tr >
    <td>{{vetement.idVetement}}</td>
    <td>{{vetement.nomVetement}}</td>
    <td>{{vetement.prixVetement}}</td>
    <td>{{vetement.dateCreation | date:'dd/MM/yyyy'}}</td>
    <td><a class="btn btn-danger" (click)="supprimerVetement(vetement)">Supprimer</a></td>
    <td><a class="btn btn-success" [routerLink]="['/updateVetement',vetement.idVetement]">Modifier</a></td>    
</tr>
    </tbody>
    </table>
    </div>
    </div>
    </div>