<div class="container">
    <div>
    <h2>Modifier un Vetement :</h2>
    </div>
    <form >
        <div hidden class="col-sm-2 col-md-2 col-lg-2">
            <label >ID vetement</label>
            <input readonly type="text" [(ngModel)]="currentVetement.idVetement"
            name="idVetement" class="form-control">
            </div>
    <div class="col-sm-4 col-md-4 col-lg-4" >
    <label >Nom Vetement</label>
    <input type="text"[(ngModel)]= "currentVetement.nomVetement"
    name="nomVetement" class="form-control">
    </div>
    <div class="col-sm-2 col-md-2 col-lg-2">
    <label >Prix Vetement</label>
    <input type="number" [(ngModel)]= "currentVetement.prixVetement"
    name="prixVetement" class="form-control">
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
    <label >Date création</label>
    <input type="date" [ngModel]="currentVetement.dateCreation
    | date: 'yyyy-MM-dd'"
    (ngModelChange)=" currentVetement.dateCreation= $event" na
me="dateCreation" class="form-control">
</div>
<div class="mt-2">
<button type="submit" (click)="updateVetement()" class="btn btnsuccess">Modifer</button>
</div>
</form>
</div>